.fg-main{
    height:300px;
    width:300px;
}
.grid {
    height:100%;
    width:100%;
    border:2px solid;
}
.grid-row {
    height:10%;
    display:flex;
    box-sizing: border-box;
}
.grid-row:not([name="Juliet"]){
    border-bottom:1px solid gray;
}
.grid-space{
    height:100%;
    width:10%;
    box-sizing: inherit;
    display: inherit;
}
.grid-space:not([name^="J"]){
    border-right:1px solid gray;
}
.gs-main{
    height:100%;
    width:100%;
    display:initial;
}
.gs-main[data-targetresult="none"]::after{
    display:none;
}
.gs-main[data-targetresult="hit"]::after{
    height:100%;
    width:100%;
    content:'💥';
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    font-weight:bold;
    text-align:center;
    background-color:lightcoral;
}
.gs-main[data-targetresult="miss"]::after{
    height:100%;
    width:100%;
    content:'💠';
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    font-weight:bold;
    text-align:center;
    background-color:lightskyblue;
}